packages/
*.DotSettings.*
bin
Bin
obj
Obj
CustomPages
DependencyGraph.xml
build*.log
Output
Debug
Release
SqlLog.txt
Thumbs.db
*.docstates
*.HarnessItConfig
*.vbproj.user
*.csproj.user
*.vcxproj.user
*.wixproj.user
*.sfproj.user
*.suo
*.sdf
*.opensdf
*.tlb
*.pdb
*.pch
*.obj
*.dep
*.idb
*.ilk
*.ipch
*.o
*.lo
*.pyo
*.la
*.tlog
#*#
*.rej
*~
.#*
*.orig
*.bak
*.nrmap
*.msi
*.wixobj
*.wixpdb
*.wxsreg
*.msm
*.exe
*.rap
*.intermediate.manifest
*ReSharper*
.lastbuildstate
.lastbuildsucceeded
.lastcodeanalysissucceeded
*.dotCover
*.DotSettings
TestLogs/*
Packages/*
*.pubxml.user
*.nupkg
msbuild.targets
dlls.txt
version.txt
DevelopmentScripts/NUnit*
BuildLogs
PDBs
Applications/*.nuspec
!paket.exe
.vs
_NCrunch*
*.ncrunchproject*
*.ncrunchsolution*
Properties\Annotations.cs
lib
.sonarqube
!Vendor/sonar-scanner-msbuild/*
!Vendor/sonar-scanner-msbuild/*/bin
!Vendor/sonar-scanner-msbuild/*/lib
!Vendor/NUnit.ConsoleRunner/*.exe
AppCoverageReport
AppCoverageReport.html
JetBrains.dotCover.CommandLineTools
.vscode
Source/Relativity.Transfer.Diagnostics.UdpHealthcheck.Web/Logs/
paket-files/
paket-files/*
Logs
publish
.temptools
Dockerfile
PublishProfiles